In [1]:
#Import Libraries
import pandas as pd 
import numpy as np

In [2]:
# Sneak Peak of Data
df = pd.read_csv('lab2.csv')
df.head(5)

   ACCOUNT SERVICE  VISIT
0   500026   CKING      1
1   500026     SVG      2
2   500026     ATM      3
3   500026     ATM      4
4   500075   CKING      1

In [3]:
# Check data shape
print(df.info)

<bound method DataFrame.info of        ACCOUNT SERVICE  VISIT
0       500026   CKING      1
1       500026     SVG      2
2       500026     ATM      3
3       500026     ATM      4
4       500075   CKING      1
...        ...     ...    ...
32362   999949   CKING      1
32363   999949     SVG      2
32364   999949      CD      3
32365   999949      CD      4
32366   999949      CD      5

[32367 rows x 3 columns]>

In [4]:
# Convert data into proper format & print first 5 transaction
transaction = []
temp_arr = []
next_acc = df.values[0,0]
count = 0
for i in range(0,df.shape[0]):
    last_acc = next_acc
    next_acc = df.values[i,0]
    if (last_acc == next_acc):
        temp_arr.append(str(df.values[i,1]))
    else:
        transaction.append(temp_arr)
        temp_arr = [df.values[i,1]]
    if (i == 32366):
        transaction.append(temp_arr)

print(transaction[0:5])

[['CKING', 'SVG', 'ATM', 'ATM'], ['CKING', 'MMDA', 'SVG', 'ATM', 'TRUST', 'TRUST'], ['CKING', 'SVG', 'IRA', 'ATM', 'ATM'], ['CKING', 'SVG', 'CKCRD', 'CKCRD'], ['CKING', 'SVG', 'CKCRD', 'CKCRD']]

In [5]:
# Perform Apriori and disply first 5 result
from apyori import apriori
rule = apriori(transactions = transaction, min_support = 0.05)
result = list(rule)

print(result[0:5])

[RelationRecord(items=frozenset({'ATM'}), support=0.3845576273307471, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'ATM'}), confidence=0.3845576273307471, lift=1.0)]), RelationRecord(items=frozenset({'AUTO'}), support=0.09285446126892755, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'AUTO'}), confidence=0.09285446126892755, lift=1.0)]), RelationRecord(items=frozenset({'CCRD'}), support=0.154799149042673, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CCRD'}), confidence=0.154799149042673, lift=1.0)]), RelationRecord(items=frozenset({'CD'}), support=0.24527593542735576, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CD'}), confidence=0.24527593542735576, lift=1.0)]), RelationRecord(items=frozenset({'CKCRD'}), support=0.11300212739331748, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'CKCRD'}), confidence=0.11300212739331748, lift=1.0)])]

In [6]:
# Convert Result into dataframe
format_result = []

for i in result:
    for j in range(0,len(i[2])):
        item_base = tuple(i[2][j][0])
        item_add = tuple(i[2][j][1])
        support = i[1]
        confidance = i[2][j][2]
        lift = i[2][j][3]
        format_result.append([item_base, item_add,support, confidance,lift])
        
result_df = pd.DataFrame(format_result,columns=["Base Item","Add Item","Support", "Confidance","Lift"])
print(result_df)

                Base Item      Add Item   Support  Confidance      Lift
0                      ()        (ATM,)  0.384558    0.384558  1.000000
1                      ()       (AUTO,)  0.092854    0.092854  1.000000
2                      ()       (CCRD,)  0.154799    0.154799  1.000000
3                      ()         (CD,)  0.245276    0.245276  1.000000
4                      ()      (CKCRD,)  0.113002    0.113002  1.000000
..                    ...           ...       ...         ...       ...
203         (SVG, HMEQLC)  (ATM, CKING)  0.060944    0.546577  1.510268
204  (ATM, HMEQLC, CKING)        (SVG,)  0.060944    0.714076  1.154163
205     (ATM, SVG, CKING)     (HMEQLC,)  0.060944    0.245217  1.489001
206    (ATM, HMEQLC, SVG)      (CKING,)  0.060944    1.000000  1.165718
207  (SVG, HMEQLC, CKING)        (ATM,)  0.060944    0.546577  1.421313

[208 rows x 5 columns]

In [7]:
# Sort Result by Lift
sort_df = result_df.sort_values(by=['Lift'],ascending=False)
print(sort_df)

          Base Item        Add Item   Support  Confidance      Lift
131        (CKCRD,)   (CCRD, CKING)  0.055813    0.493909  3.325045
134   (CCRD, CKING)        (CKCRD,)  0.055813    0.375737  3.325045
33          (CCRD,)        (CKCRD,)  0.055813    0.360550  3.190645
130         (CCRD,)  (CKCRD, CKING)  0.055813    0.360550  3.190645
135  (CKCRD, CKING)         (CCRD,)  0.055813    0.493909  3.190645
..              ...             ...       ...         ...       ...
174          (SVG,)   (MMDA, CKING)  0.073583    0.118932  0.763362
13            (CD,)          (ATM,)  0.071581    0.291837  0.758889
12           (ATM,)           (CD,)  0.071581    0.186137  0.758889
78          (MMDA,)          (SVG,)  0.077337    0.443329  0.716553
79           (SVG,)         (MMDA,)  0.077337    0.125000  0.716553

[208 rows x 5 columns]